body{
	background:#EEE;
	font-family: sans-serif;
}
form{
	margin-left:540px;
	margin-right:500px;
	margin-top:40px;
	border:1px solid black;
	border-radius:10px;
	padding-top:15px;
	padding-left:70px;
	padding-bottom:70px;
	cursor:pointer;
	background:#FFF;
	box-shadow:100px 10px gray;
	
}


h3{
	margin-left:110px;
	text-shadow: 2px 7px;
}
.properD input{
	font-size:25px;
	padding:10px;
	margin:10px;
	padding:15px;
	background:#EEE;
	padding-left:38px;
	text-align:center;
	text-decoration:none;
	border-radius:9px;
}
.field{
	font-size:25px;
	padding:10px;
	margin:10px;
	padding:13px;
	background:#EEE;
	padding-left:30px;
	text-align:center;	
	border-radius:9px;
}
 .widht{
	width:170px;
}
 .widht:hover{
	background-color: #e7e7e7; 
 }
 .width:hover{
	background-color: #e7e7e7; 
 }
.width{
	width:173px;
}
.fix{
	width:73px;
	border:1px solid blue;
}
.right{
	float:right;
	margin-top:10px;
	text-shadow: 2px 7px;
}
.fix:hover{
	background-color: #e7e7e7;
}